.headerContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1d212b;
    padding: 10px;
    top: 0;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.headerInner {
    width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f5f5f5;
}

.homeLink, .profileLink {
    display: flex;
    align-items: center;
}

.profileLink > div {
    margin-right: 15px;
}

.logo {
    stroke: none;
    fill: white;
    margin-right: 20px;
}

.logoText {
    font-size: 40px;
    font-family: Staatliches;
    line-height: 1;
}

@media screen and (max-width: 1200px){
    .headerInner {
        width: 982px;
    }
}

@media screen and (max-width: 992px){
    .headerInner {
        width: 680px;
    }
}

@media screen and (max-width: 700px){
    .headerInner {
        width: 100%;
    }
    .profileLink > div {
        display: none;
    }
}