/*
  color scheme:
  #1D212B - dark blue
  #B0413E - red
  #C6D8D3 - light blue
  #FDF0D5 - beige
  #567568 - green
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Staatliches";
  src: url("/fonts/Staatliches-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

h1 {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "Staatliches";
}

h3 {
  font-size: 25px;
  line-height: 1;
  margin: 0;
}